@model IEnumerable<TicketsViewModel>
@{
    ViewData["Title"] = "Tickets";
    var seanceList = (IEnumerable<SelectListItem>)ViewBag.SeanceId;
    var seanceDictionary = seanceList.ToDictionary(item => int.Parse(item.Value), item => item.Text);
    var userList = (IEnumerable<SelectListItem>)ViewBag.UserId;
    var userDictionary = userList.ToDictionary(item => item.Value != null ? new Guid(item.Value) : Guid.Empty, item => item.Text);
}
<h1>Tickets</h1>

<p>
    <a asp-action="Create">Create new ticket</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.SeatNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
            <th>Seance time</th>
            <th>UserName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelTicket => ticket.Id)</td>
                <td>@Html.DisplayFor(modelTicket => ticket.SeatNumber)</td>
                <td>@Html.DisplayFor(modelTicket => ticket.Price)</td>
                <td>@Html.DisplayFor(modelTicket => ticket.IsAvailable)</td>
                <td>@seanceDictionary[ticket.SeanceId]</td>
                <td>
                    @if (userDictionary.ContainsKey(ticket.UserId.GetValueOrDefault()))
                    {
                        @userDictionary[ticket.UserId.GetValueOrDefault()]
                    }
                    else
                    {
                        @Html.DisplayFor(modelTicket => ticket.UserId)
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@ticket.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
